$background-color: #F4F5F5;

.h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.02em;
  color: #2B7393;
}

.h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.02em;
  color: #2b7393;
}

.h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  letter-spacing: -0.01em;
  color: #707070;
}

.p1 {
  font-size: 25px;
  font-weight: 200;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0;
  color: #707070;
}

.p2 {
  font-size: 25px;
  font-weight: 200;
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0.01em;
  color: #D1D3D4;
}

body {
  font-family: 'D-DIN', sans-serif;
  margin: 40px 80px;
  background-color: $background-color;
}

