@mixin heading-large {
  font-size: 90px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.02em;
  color: #2B7393;
}

@mixin heading-medium {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  letter-spacing: -0.01em;
  color: #707070;
}

@mixin body-text {
  font-size: 25px;
  font-weight: 200;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0;
  color: #707070;
}

@mixin body-secondary {
  font-size: 25px;
  font-weight: 200;
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0.01em;
  color: #D1D3D4;
}

.heading-large {
  @include heading-large;
}

.heading-medium {
  @include heading-medium;
}

.body-text {
  @include body-text;
}

.body-secondary {
  @include body-secondary;
}

body {
  font-family: 'D-DIN', sans-serif;
  margin: 40px 80px;
  background-color: #F4F5F5;
}

.h2-global {
  font-size: 50px;
  color: #2b7393;
}

//OverviewWidget.vue//
.WidgetMenu {
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  height: 153px; //25% minus er 114.75px
  justify-content: space-between;
  width: 1372px; //25% minus er 1029px
}

.WidgetMenuBox {
  align-items: center;
  display: flex;
  gap: 2.5em;
  height: 77px;
  justify-content: center;
  text-align: center;
  width: 343px;

  &:not(:last-child) {
      border-right: 1px solid #DADCDC;
  }
}

//TaskOverwiev.vue//
.Task-Overwiev {
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  height: 523px; //25% minus er 114.75px
  justify-content: center;
  align-items: center;
  width: 1372px; //25% minus er 1029px
}

.Task-Overwiev__Infomation {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 314px;
  width: 1239px; //25% minus er 1029px
}

.Task-Overwiev__Menubar {
  display: flex;
  justify-content: space-between;
}

.Task-Overwiev__Infomation-Head{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #DADCDC;
  border-bottom: 1px solid #DADCDC;    
  padding: 10px 0;
}

.Task-Overwiev__Infomation-Field {
  display: flex;
  justify-content: space-between;
}

.status-indicator {
  display: inline-block;
  width: 10px; // Størrelsen på bolden
  height: 10px;
  border-radius: 50%; // Gør den rund
  margin-right: 8px; // Lidt afstand til teksten
}

.status-done {
  background-color: green; // Grøn cirkel for "Udført"
}

.status-overdue {
  background-color: red; // Rød cirkel for "Overskredet"
}
