@mixin heading-large {
  font-size: 90px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.02em;
  color: #2B7393;
}

@mixin heading-medium {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  letter-spacing: -0.02em;
  color: #2b7393;
}

@mixin heading-small {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  letter-spacing: -0.01em;
  color: #707070;
}

@mixin body-text {
  font-size: 25px;
  font-weight: 200;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 0;
  color: #707070;
}

@mixin body-secondary {
  font-size: 25px;
  font-weight: 200;
  line-height: 1.4;
  margin: 0;
  letter-spacing: 0.01em;
  color: #D1D3D4;
}



.h1 {
  @include heading-large;
}

.h2 {
  @include heading-medium;
}

.h3 {
  @include heading-small;
}

.p1 {
  @include body-text;
}

.p2 {
  @include body-secondary;
}

body {
  font-family: 'D-DIN', sans-serif;
  margin: 40px 80px;
  background-color: #F4F5F5;
}

